language: cpp

os: linux
dist: bionic

before_install:
  - sudo apt update 
  - sudo apt-get --yes install build-essential
  - sudo apt-get --yes install libboost-all-dev
  - sudo apt-get --yes install libomp-dev 

compiler: gcc

before_script:
  - wget https://github.com/protocolbuffers/protobuf/releases/download/v3.12.3/protobuf-cpp-3.12.3.tar.gz
  - tar -xvzf protobuf-cpp-3.12.3.tar.gz 
  - cd protobuf-3.12.3
  - ./configure --prefix=${PWD}/install
  - make
  - make install
  - cd cmake; mkdir build; cd build;
  - cmake ..
  - make -j
  - cd ../../../
  - git clone https://github.com/01org/tbb
  - mkdir build
  - pushd build
  - cmake  -DTBB_ROOT=${PWD}/../tbb   -DProtobuf_INCLUDE_DIRS=${PWD}/../protobuf-3.12.3/install/include/ -DProtobuf_LIBRARIES=${PWD}/../protobuf-3.12.3/cmake/build/libprotobuf.a -DProtobuf_PATH=${PWD}/../protobuf-3.12.3/cmake/build/lib64/cmake/protobuf .. 
  - make -j
  - popd
    
script: 
  - ./build/usher
