name: build

on: 
  pull_request:
  push:
    branches: 
      - master

env:
  BUILD_TYPE: Release

jobs:
  ubuntu-18-04:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@master
    - name: install pre-reqs and build
      run: sudo ./installUbuntu.sh
    - name: test
      run: |
        ./build/usher --help
        ./build/rotate_trees --help
        ./build/find_parsimonious_assignments --help  
        python2 scripts/compute_entropy_weighted_tree_distance.py -h
        python2 scripts/generate_plot_extremal_sites_data.py -h 
        python2 scripts/identify_extremal_sites.py -h
        python2 scripts/tree_merge.py -h
  
  ubuntu-20-04:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@master
    - name: install pre-reqs and build
      run: sudo ./installUbuntu.sh
    - name: test
      run: |
        ./build/usher --help
        ./build/rotate_trees --help
        ./build/find_parsimonious_assignments --help
        python2 scripts/compute_entropy_weighted_tree_distance.py -h
        python2 scripts/generate_plot_extremal_sites_data.py -h 
        python2 scripts/identify_extremal_sites.py -h
        python2 scripts/tree_merge.py -h

  macOS-10-14:
    runs-on: macOS-10.14
    steps:
    - uses: actions/checkout@master
    - name: install pre-reqs and build
      run: ./installMacOS.sh
    - name: test
      run: |
        ./build/usher --help
        ./build/rotate_trees --help
        ./build/find_parsimonious_assignments --help
        python2 scripts/compute_entropy_weighted_tree_distance.py -h
        python2 scripts/generate_plot_extremal_sites_data.py -h 
        python2 scripts/identify_extremal_sites.py -h
        python2 scripts/tree_merge.py -h

  macOS-10-15:
    runs-on: macOS-10.15
    steps:
    - uses: actions/checkout@master
    - name: install pre-reqs and build
      run: ./installMacOS.sh
    - name: test
      run: |
        ./build/usher --help
        ./build/rotate_trees --help
        ./build/find_parsimonious_assignments --help
        python2 scripts/compute_entropy_weighted_tree_distance.py -h
        python2 scripts/generate_plot_extremal_sites_data.py -h 
        python2 scripts/identify_extremal_sites.py -h
        python2 scripts/tree_merge.py -h
